## How to read schema from raw data files (Bronze layer)

In [0]:
from pyspark.sql.functions import * # used for data manipulation and transformation in Spark SQL
from pyspark.sql.types import * # provides the data types that can be used to define the schema of a DataFrame or a column in Spark SQL
import datetime #imports the datetime module, which is a standard Python library for working with dates and times.

In [0]:
#create delta table DIm1
data_path1 ='/FileStore/tables/sample_emp_data.csv' # represents the file path where the data file is located ## to be changed to actual file name
df1 = spark.read.format("csv")\
  .option("inferSchema", "false")\
  .option("sep",",")\
  .option("header","true")\
  .load(data_path1) ### read the data from the CSV file located at **data_path1** and load it into a DataFrame named **df1**
##display(df1)

## Now write out this DataFrame to a Delta table
df1.write.format("delta").mode("overwrite").saveAsTable("Dim1_raw")

In [0]:
#create delta table Dim 2
data_path2 ='/FileStore/tables/sample_emp_data.csv' # represents the file path where the data file is located ## to be changed to actual file name
df2 = spark.read.format("csv")\
  .option("inferSchema", "false")\
  .option("sep",",")\
  .option("header","true")\
  .load(data_path2) ### read the data from the CSV file located at **data_path2** and load it into a DataFrame named **df1**
##display(df2)

## Now write out this DataFrame to a Delta table
df2.write.format("delta").mode("overwrite").saveAsTable("Dim2_raw")

In [0]:
#create delta table Fact Table
data_path3 ='/FileStore/tables/sample_emp_data.csv' # represents the file path where the data file is located ## to be changed to actual file name
df3 = spark.read.format("csv")\
  .option("inferSchema", "false")\
  .option("sep",",")\
  .option("header","true")\
  .load(data_path3) ### read the data from the CSV file located at **data_path3** and load it into a DataFrame named **df1**

##display(df3)

## Now write out this DataFrame to a Delta table
df3.write.format("delta").mode("overwrite").saveAsTable("Fact_raw")

In [0]:
%sql
select * from Dim1_raw;
select * from Dim2_raw;
select * from Fact_raw;

empno,ename,designation,manager,hire_date,sal,deptno,location
9369,SMITH,CLERK,7902,12/17/1980,800,20,BANGALORE
9499,ALLEN,SALESMAN,7698,2/20/1981,1600,30,HYDERABAD
9521,WARD,SALESMAN,7698,2/22/1981,1250,30,PUNE
9566,TURNER,MANAGER,7839,4/2/1981,2975,20,MUMBAI
9654,MARTIN,SALESMAN,7698,9/28/1981,1250,30,CHENNAI
9369,SMITH,CLERK,7902,12/17/1980,800,20,KOLKATA