## Mount Azure MySQL database and creating bronze layer

In [0]:
Host = {database_host} #Specifies the hostname or IP address of the MySQL database server.
Table1 = {table_name1} # Specifies the table1 name to read from the MySQL database.
Table2 = {table_name2} # Specifies the table2 name to read from the MySQL database.
Table3 = {table_name3} # Specifies the table3 name to read from the MySQL database.
Database = {database_name}  #Specifies the name of the database in the MySQL server to connect to.
User = {user_admin} #Specifies the username for authentication to the MySQL database. 
Password = {Password}  #Specifies the password for authentication to the MySQL database.

In [0]:
    df1 = (spark.read #used to create a DataFrameReader object
            .format("mysql") #Specifies that the data source format is MySQL
            .option("dbtable", Table1) #Specifies the table name to read from the MySQL database.
            .option("host", Host) #Specifies the hostname or IP address of the MySQL database server.
            .option("port", 3306) #The default port for MySQL is 3306
            .option("database", Database) # Specifies the name of the database in the MySQL server to connect to.
            .option("user", User) #Specifies the username for authentication to the MySQL database. 
            .option("password", Password) #Specifies the password for authentication to the MySQL database. 
            .load() #Loads the data from the specified MySQL database based on the provided options and returns a DataFrame.
            )
    ##create a table from the DataFrame
    df1.write.format("delta").saveAsTable("Dim1_raw")

In [0]:
    df2 = (spark.read #used to create a DataFrameReader object
            .format("mysql") #Specifies that the data source format is MySQL
            .option("dbtable", Table2) #Specifies the table name to read from the MySQL database.
            .option("host", Host) #Specifies the hostname or IP address of the MySQL database server.
            .option("port", 3306) #The default port for MySQL is 3306
            .option("database", Database) # Specifies the name of the database in the MySQL server to connect to.
            .option("user", User) #Specifies the username for authentication to the MySQL database. 
            .option("password", Password) #Specifies the password for authentication to the MySQL database. 
            .load() #Loads the data from the specified MySQL database based on the provided options and returns a DataFrame.
            )
    ##create a table from the DataFrame
    df2.write.format("delta").saveAsTable("Dim2_raw")

In [0]:
    df3 = (spark.read #used to create a DataFrameReader object
            .format("mysql") #Specifies that the data source format is MySQL
            .option("dbtable", Table3) #Specifies the table name to read from the MySQL database.
            .option("host", Host) #Specifies the hostname or IP address of the MySQL database server.
            .option("port", 3306) #The default port for MySQL is 3306
            .option("database", Database) # Specifies the name of the database in the MySQL server to connect to.
            .option("user", User) #Specifies the username for authentication to the MySQL database. 
            .option("password", Password) #Specifies the password for authentication to the MySQL database. 
            .load() #Loads the data from the specified MySQL database based on the provided options and returns a DataFrame.
            )
    ##create a table from the DataFrame
    df3.write.format("delta").saveAsTable("Fact_raw")